<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="formLogin" action="/" method="post">
      <input type="text" name="user">
      <input type="password" name="pass">
      <input type="submit" name="btn" value="Login">
    </form>
    <a href="/regist">regist</a>
  </body>
</html>
