body{
	padding: 0px;
	margin: 0px;
	background:url('./image/1.jpg') no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	/*font-family:Arial;*/
}
header{
	border:solid;
	height: 500px;
	background-image:url('./image/10.jpg');
	background-attachment: fixed;
	background-size: 100%;
	opacity:.8;
}
#menu{
	display: none;
	padding: 0px;
	box-sizing: border-box;
	position: fixed;
	height: 0px;
	left:0px;
	top:0px;
}
#menu>ul{
	padding: 0px;
	margin: 0px;
}
#menu>ul>li{
/*	display: inline-block;*/
	list-style: none;
	width: 200px;
	height: 40px;
	background-color: black;
	opacity:.8;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-bottom: 2px;
}
.kyanq{
	padding: 10px;
	width: 60%;
	margin: 50px auto;
	border:solid;
	background-color: black;
	border-radius: 10px;
	opacity:.8;
}
.kyanq>p,.kyanq>h1{
	color:white;
	text-align: justify;
}
.kyanq>h1{
	text-align: center;
}
.kyanq>img{
	float: left;
	margin:20px;
}
.voghjuyn{
	width: 50%;
	margin: 15% auto;
}
.voghjuyn>h1,.voghjuyn>p{
	text-align: center;
}