body{
	margin: 0px;
}
header{
	border:solid;
	box-sizing: border-box;
	height: 45px;
	width: 100%;
	background-color: black;
	opacity: 0.8;
}
.pc a{
	color:white;
	text-decoration: none;
	vertical-align: sub;
	transition: color 0.25s;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size:14px;
}
.mb .m:hover{
	background-image: url('./image/searchGray.png');
}
.mb .logo:hover{
	background-image: url('./image/logoGray.png');
}
.mb .bag:hover{
	background-image: url('./image/shopGray.png');
}
.pc .search:hover{
	background-image: url('./image/searchGray.png');
}
.pc .logo:hover{
	background-image: url('./image/logoGray.png');
}
.pc .bag:hover{
	background-image: url('./image/shopGray.png');
}
.pc a:hover{
	color:grey;
}
header nav div{
	text-align: center;
}
.pc{
	border:solid black;
	box-sizing: border-box;
	display: block;
	height: 100%;
	width: 80%;
	margin: auto;
}
.pc .menu ,.mb .menu{
	border: solid black;
	box-sizing: border-box;
	float:left;
	height: 100%;
}
.mb{
	border:solid black;
	box-sizing: border-box;
	display: none;
	height: 100%;
	width: 100%;
	margin: auto;
}

/*------------------------------------------------------*/

.logo,.search,.bag,.m{
	background-size: auto 70%;
	background-repeat: no-repeat;
}
.pc .menu{
	width:10%;
}
.pc .logo{
	background-image: url('./image/logo.svg');
	background-size: auto 70%;
	background-position: center;
	transition: background-image 0.25s;
}
.pc .search{
	background-image: url('./image/search.png');
	background-size: auto 60%;
	background-position: center;
	transition: background-image 0.25s;
}
.pc .bag{
	background-image: url('./image/shop.svg');
	background-size: auto 170%;
	background-position: center;
	transition: background-image 0.25s;
}

/*------------------------------------------------------*/

.m{
	background-image: url('./image/search.png');
	background-size: auto 60%;
	background-position: left;
	transition: background-image 0.25s
}
.mb .logo{
	background-position: center;
	background-image: url('./image/logo.svg');
	background-size: auto 70%;
	transition: background-image 0.25s;
}
.mb .bag{
	background-position: right;
	background-image: url('./image/shop.svg');
	background-size: auto 170%;
	transition: background-image 0.25s;	
}

/*------------------------------------------------------*/

@media only screen and (max-width: 700px){
	.pc{
		display: none;
	}
	.mb{
		display: block;
	}
}